body{
    background-color: #faab36;
}

.playground{
    width: 600px;
    height: 600px;
    background-color: #1e65a7;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}
button{
    margin: 0 auto;
    display: block;
}

.square{
    border: 2px solid white;
    /* width: calc(100% / 8);
    height: calc(100% / 8); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.active{
    background-color: #249ea0;
}